<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> All Shifts for a bartender</h1>
    <p class="lead"> This chart can be used to see all the shifts for a single bartender.</p>
    <p-dropdown *ngIf="bartenderOptions" [ngClass]="{ 'no-option-selected': selectedBartender === undefined || selectedBartender === null }"
      placeholder="Filter by Bartender" [options]="bartenderOptions" [(ngModel)]="selectedBartender" showClear="true" filter=true
      (onChange)="filterBartender($event.value)"></p-dropdown>
  </div>
</div>
<div class="container">
  <h2 class="text-center font-weight-light">Shifts: {{ selectedBartender }}</h2>
  <p-table [value]="bartenderInfo" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Bar</th>
        <th>Shift Time</th>
        <th>Day</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bart>
      <tr>
        <td><a routerLink="/bars/{{ bart.bar }}">{{ bart.bar }}</a></td>
        <td>{{bart.shiftstart}}:00 - {{bart.shiftend}}:00</td>
        <td>{{bart.day}}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br><br><br>
</div>

<div class="container">
  <h2 class="text-center font-weight-light"> {{ selectedBartender }} Sold:</h2>
  <p-table [value]="bartenderSold" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Beer</th>
        <th>Amount Sold</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-beer>
      <tr>
        <td><a routerLink="/beers/{{ beer.beer }}">{{ beer.beer }}</a></td>
        <td>{{beer.beer_count}}</td>
      </tr>
    </ng-template>
  </p-table>
  <br><br><br><br>
</div>